.task {
    max-width: 450px;
    height: 20px;
    padding: 20px 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000000;
}

.checkboxInput {
    margin-right: 15px;
}