.newTask {
    max-width: 463px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.newTaskInput {
    width: 85%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}